*{
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  color: #FC8E3A;
  background-color: rgb(43, 43, 43);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-width: 800px;
  overflow: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 1.4em;
}

.heading{
  margin-bottom: .6em;
}

.title{
  margin: .8em 0;
}

textarea{
  width: 50%;
  height: 300px;
  font-size: 2em;
  background-color: #FC8E3A;
  resize: none;
  padding: .1em;
}

textarea.coloured-theme{
  background-color: rgb(43, 43, 43);
  color: #FC8E3A;
}

textarea.dark-theme{
  background-color: #FC8E3A;
  color: rgb(43, 43, 43);
}

textarea:disabled{
  background-color: rgb(114, 114, 114);
}

.btn{
  padding: .6em 2em;
  margin-bottom: 1.2em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #FC8E3A;
  color: rgb(43, 43, 43);
  border: none;
}

.btn.dark-theme{
  background-color: #FC8E3A;
  color: rgb(43, 43, 43);
}

.btn.coloured-theme{
  background-color: rgb(43, 43, 43);
  color: #FC8E3A;
}

header{
  display: flex;
  justify-content: end;
}

.switch-btn{
  font-size: 1.6em;
  padding: .4em 1.2em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-right: 2.4em;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}

.switch-btn.coloured-theme{
  background-color: rgb(43, 43, 43);
  color: #FC8E3A;
}

.switch-btn.dark-theme{
  background-color: #FC8E3A;
  color: rgb(43, 43, 43);
}

.dark-theme{
  color: #FC8E3A;
  background-color: rgb(43, 43, 43);
}

.coloured-theme{
  background-color: #FC8E3A;
  color: rgb(43, 43, 43);
}
